:root {
  --clr-primary: hsl(246, 61%, 6%);
  --clr-secondary: hsl(207, 100%, 62%);
  --clr-accent: hsl(210, 62%, 90%);

  --clr-neutral: hsl(0, 0%, 100%);

  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Heebo', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-14: 0.875rem;
}

/* Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make figcaptions only available to screen readers */
figcaption {
  opacity: 0;
  display: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-14);
}

strong {
  font-weight: var(--fw-bold);
}

#logo {
  width: clamp(3.4rem, 3.4rem, 5rem);
  height: auto;
}

.button {
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
  font-weight: var(--fw-bold);
  border-radius: 3px;
  padding: 0.8rem 3.4rem 0.8rem 3.4rem;
  -webkit-box-shadow: 5px 9px 20px 2px rgba(25, 43, 100, 0.78);
  box-shadow: 5px 9px 20px 2px rgba(25, 43, 100, 0.78);
}

.button:hover {
  -webkit-box-shadow: 5px 7px 21px 3px rgba(25, 43, 100, 0.91);
  box-shadow: 5px 7px 21px 3px rgba(25, 43, 100, 0.91);
  transition: 0.2s;
}

/* Navbars and hero section */
/* Designing for mobile first */
.header-advertisement {
  display: none;
  visibility: hidden;
}

#satellite,
#hosting {
  color: var(--clr-neutral);
}

.nav-list,
.buttons-container {
  display: none;
  visibility: hidden;
}

.header-and-hero {
  background: url(assets/imgs/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.primary-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

#satellite {
  font-weight: var(--fw-bold);
}

#hosting {
  font-weight: var(--fw-light);
}

.mobile-hamburger {
  display: flex;
  align-items: center;
}

.mobile-hamburger>button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.mobile-hamburger>button>i {
  color: var(--clr-neutral);
  font-size: 1.7rem;

}

/* Hero-container primary */

.primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

#earth {
  width: 90vw;
  height: auto;
  position: relative;
  z-index: 2;
  -webkit-animation: rotate-center 160s linear infinite both;
  animation: rotate-center 160s linear infinite both;
  animation-name: rotate-center;
  animation-duration: 160s;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.motto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 9rem;
  z-index: 1;
}

.motto>h1 {
  color: var(--clr-neutral);
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: 6vw;
}

h1>.blue {
  color: var(--clr-secondary);
}

/* Hero-container secondary */

.secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary);
  padding: 1.4rem;
  gap: 0.7rem;
}

.secondary>p {
  color: var(--clr-neutral);
  font-size: 5vw;
}

/* How it works section */

.how-it-works-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 1.4rem;
}

.title>header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title>header>h2 {
  font-weight: var(--fw-bold);
  font-size: 6vw;
}

.title>header>p {
  color: var(--clr-secondary);
  font-weight: var(--fw-regular);
  font-size: 6vw;
  text-align: center;
}

.step>li>figure>img {
  width: 20vw;
  height: auto;
}

.steps-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.step>li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10vw;
  background-color: var(--clr-accent);
  padding: .6rem;
  border-radius: 10px;
}

.step>li>figure>img {
  width: 90vw;
  height: auto;
}