#modal {
    background-color: var(--clr-neutral);
    position: fixed;
    transition: all 0.5s ease-in-out;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    left: -100%;
    z-index: 3;
    top: 0%;
    flex-direction: column;
}

.fa-times-circle {
    font-size: 1.7rem;
    font-weight: var(--fw-regular);
    color: var(--clr-primary);
}

.close-btn>button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 5%;
    right: 10%;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vw;
}

.nav-sidebar a {
    font-weight: var(--fw-bold);
    text-decoration: none;
    font-size: 7vw;
}

.nav-sidebar a:hover {
    color: var(--clr-secondary);
    transition: 200ms;
}